@import "../../../../styleguide/shared";


.lpa_upload-container {
  margin: auto;

  .border-dashed {
    border: 2px #d2d2d2 dashed;
  }

  .upload-container {
    max-width: 254px;
    height: 205px;
    min-width: 254px;
    min-height: 205px;
    padding: 0;
    margin: 0 auto;
  }

  .img-container {
    max-width: 250px;
    height: 200px;
    min-width: 250px;
    min-height: 200px;
    background: #f4f8fd;
    margin: 0 auto;
    text-align: center;

    .fa-pulse {
      color: $color-gray;
      margin-top: 35%;
    }

    img {
      width: 250px;
      height: 200px;
      border-radius: 2px;
      min-height: 200px;
    }
  }

  .lpa_upload-image-container {
    max-width: 250px;
    min-width: 250px;
    min-height: 200px;
    max-height: 200px;
    background: #f4f8fd;
    border-radius: 2px;
    padding: 20px;
    border: thin #ddd solid;
    margin: 0;

    div {
      width: 100%;
      text-align: center;

      .fa-image {
        font-size: 120px;
        font-weight: 100;
        color: #bfbfbf;
        margin: 0 auto;
      }

      p {
        margin: 0 auto;
      }
    }
  }

  .lpa_upload-btn {
    margin: 20px auto;
    width: 140px;
    text-align: center;

    input {
      width: 140px;
      margin: 0 auto;
    }
  }
}

.dnd-hover:hover {
  background: #ccc;
}

input[type="file"]::-webkit-file-upload-button {
  border: thin solid #57b54a;
  border-radius: 4px;
  width: 140px;
  height: 35px;
  background: #65c657;
  color: #fff;
  font-weight: 300;
  font-size: 16px;

  &:hover {
    background: #57b54a;
  }

  &:disabled {
    background: #999;
    color: #fff;
  }
}

:host ::ng-deep .ui-widget-content {
  text-align: center;
}

:host ::ng-deep .ui-dialog .ui-dialog-content {
  background-color: $color-gray;
}

@media (max-width: 480px) {
  :host ::ng-deep .ui-dialog {
    width: 260px;
  }
}

@media (max-width: 360px) {
  .lpa_upload-container {
    .lpa_upload-image-container {
      max-width: 255px;
      min-width: 255px;
    }
  }
}
