<div class="intro-container">
  <div class="">
    <img src="../../../../../assets/images/landing/big-focal-point.png" class="intro-image">
  </div>
  <div class="intro">
    <div class="row" [ngStyle]="{'display':'block'}">
      <div class="col-lg-6 intro-text">
        <h1 class="intro-text-title">Your Online Diary is waiting for you!</h1>
        <p>Come and join the growing community that’s found the secret to managing their life in a simple and exciting way. </p>
        <button class="btn-register">REGISTER NOW!</button>

        <div class="intro-line">
          <div class="intro-line-big"></div>
          <div class="intro-line-small"></div>
          <div class="intro-line-small"></div>
          <div class="intro-line-small"></div>
        </div>
      </div>
    </div>
  </div>
</div>