<div class="custom-toast-container" [ngClass]="{showErr: showErrMessage}">
  <span>It looks like you have entered an invalid email or that the email server is down. Please re-enter your email and try again.</span>
  <span class="close-container" (click)="showErrMessage = false"><img src="../../../../../assets/icons/err-cancel.png"></span>
</div>

<!-- [@scaleAnimation]="animationState" We need to revisit this -->

<div class="container">
  <div class="card-bg">
    <div class="content">
      <div>
        <button type="button" class="btn btn-link link" routerLink="/login">Back to Sign In</button>
        <svg-icon [icon]="'lock'"></svg-icon>
      </div>

      <h2>Forgot your password?</h2>
      <p>
        Don’t worry, it happens. Just enter your email address and we will email instructions on how to reset your password.
      </p>

      <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" role="form">
        <div class="floating-label group">
          <input #input type="email" class="ts_input-email" formControlName="email" name="email" (keydown)="validateEmailLength($event)"
            tabindex="0" autocomplete="off" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email Address</label>
          <i *ngIf="forgotPasswordForm.get('email').dirty" (click)="onClear()" class="fas fa-times icon-email-error"></i>
          <p-message *ngIf="hasExceed" severity="error" text="Exceeded maximum character limit." class="exceed-error"></p-message>
        </div>
        <button type="submit" [disabled]="!forgotPasswordForm.valid || isSubmitting" tabindex="1" class="btn btn-reset"><i
            *ngIf="isSubmitting" class="fas fa-spinner fa-pulse"></i> REQUEST RESET</button>
      </form>
    </div>
  </div>
</div>
