@import "../../../../../styleguide/shared";

:host ::ng-deep .ui-toast-icon.pi-times{
  display:none;
}

:host ::ng-deep .ui-message-error {
  margin-top: 2px;
}

:host ::ng-deep .ui-message-icon.pi-times{
  display:none;
}

:host {

  .custom-toast-container {
    padding: 20px 40px 20px 20px;
    background: #FF6666;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    display: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    
    span {
      color: #fff;
      font-size: 14px;
    }
  
    .close-container {
      padding: 0 10px;
      position: fixed;
      top: 20px;
      cursor: pointer;
      right: 10px;
    }
  }

  .custom-toast-container.showErr {
    display: block;
    opacity: 1;
  }

  .container {
    padding-top: 20px;
    

    .card-bg {
      @include card-bg;
      background: $color-white;
      background-image: url("/assets/svg/forgot-password-bg-vertical.svg");
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 2px;
      width: 800px;
      height: 570px;
      text-align: center;

      position: fixed;
      top: 50%;
      left: 50%;
      padding: 15px;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      

      h2 {
        margin-top: 38px;
        margin-bottom: 25px;
        color: $color-primary;
        font-size: 32px;
        font-weight: 600;
      }

      .content {
        padding-top: 40px;
        max-width: 536px;
        margin: 0 auto;
      }

      p {
        font-size: 16px;
        margin-bottom: 28px;
        color: $color-light-gray;
      }

      form {
        max-width: 300px;
        margin: 0 auto;
      }

      .btn-reset {
        @include btn-gradient-blue;
        max-width: 260px;
        height: 50px;
        border-radius: 28px;
      }

      .floating-label {
        margin-bottom: 30px;
      }

      .floating-label input {
        font-size: 16px;
      }

      .btn-link {
        font-size: 14px;
        color: $color-primary;
        position: fixed;
        top: 40px;
        right: 40px;
        padding: 0;
      }
    }
  }

  @media (max-width: 900px) {
    .container {
      .card-bg {
        width: 620px;
        height: 450px;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .card-bg {
        width: 400px;
        height: 650px;
        background-image: url("/assets/svg/forgot-password-bg-horizontal.svg");

        .content {
          padding: 60px 20px 30px 20px;
        }
  
        h2 {
          font-size: 28px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    
    .custom-toast-container {
      margin-left: 0;
      span {
        font-size: 12px;
      }
    }

    .container {
      padding: 0;
      margin-top:20px;

      .card-bg {
        width: 100%;
        height: 100%;

        .content {
          padding: 95px 10px 30px 10px;
        }

        h2 {
          font-size: 24px;
        }
  
        p {
          font-size: 14px;
        }
  
        .floating-label input {
          font-size: 14px;
        }

        .btn-reset {
          max-width: 300px;
        }

        .btn-link {
          right: 35px;
        }
  
      }
    }
  }

  @media (max-width: 375px) {
    .container {
      padding: 0;
      margin: 0;

      .card-bg {

        h2 {
          margin-bottom: 20px;
        }
  
        p {
          margin-bottom: 24px;
        }
  
      }

    }
  }

  @media (max-width: 360px) {
    .container {
      .card-bg {
      
        .btn-link {
          right: 20px;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .container {
      padding: 0;

      .card-bg {
       
        .content {
          padding: 50px 0px 30px 0px;
        }
        h2 {
         font-size: 22px;
        }
  
        p {
          font-size: 13px;
        }

        .btn-reset {
          max-width: 250px;
          font-size: 13px;
          height: 45px;
        }

        .btn-link {
          right: 15px;
          top: 25px;
          font-size: 13px;
        }

        .floating-label input, .floating-label label {
          font-size: 13px;
        }
        
      }
    }
  }
}

