<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<div class="dashboard-container">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card-web">
      <div class="card-icon cards">
        <i class="far fa-credit-card"></i>
      </div>
      <div class="card-web-header">
        Cards to Play Today
      </div>
      <div class="card-web-content cards">
        {{cardToPlayCount}}
      </div>
    </div>
  </div>

<!-- <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card-web">
        <div class="card-icon expenses">
          <i  class="fas fa-dollar-sign"></i>
        </div>
        <div class="card-web-header">
          Next 7 Days Expenses
        </div>
        <div class="card-web-content expenses">
          $4,027.90
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card-web">
        <div class="card-icon tickets">
          <i  class="fas fa-ticket-alt"></i>
        </div>
        <div class="card-web-header">
          My Open Tickets
        </div>
        <div class="card-web-content tickets">
          54
        </div>
      </div>
    </div> -->
</div>
