@import '../../../../styleguide/shared';

.shared-dropdown-menu {
  @include dropdown-menu;
  padding: 12px 0px;

  a {
    padding: 5px 20px;
    font-size: 16px;
  }

  i {
    margin-right: 10px;
    font-size: 16px;
    color:$color-light-gray;
  }

}