@import "../../../../../styleguide/shared";

:host ::ng-deep .ui-toast-icon.pi-times{
  display:none;
}

:host ::ng-deep .ui-message-error {
  margin-top: 2px;
}

:host ::ng-deep .ui-message-icon.pi-times{
  display:none;
}


:host {
  .container {
    padding-top: 20px;

    .card-bg {
      @include card-bg;

      background-image: url("/assets/svg/forgot-password-bg-vertical.svg");
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 2px;
      width: 727px;
      height: 455px;
      text-align: center;

      h2 {
        margin-top: 60px;
      }

      .content {
        padding-top: 40px;
        max-width: 400px;
        margin: 0 auto;
      }

      p {
        font-size: 13px;
        margin-bottom: 40px;
      }

      form {
        max-width: 300px;
        margin: 0 auto;
      }

      .btn-reset {
        @include btn-gradient-blue;
      }

      .btn-link {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 900px) {
    .container {
      .card-bg {
        width: 620px;
        height: 450px;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .card-bg {
        width: 400px;
        height: 650px;
        background-image: url("/assets/svg/forgot-password-bg-horizontal.svg");
      }

      .content {
        padding: 50px;
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 0;
      margin-top:20px;

      .card-bg {
        width: 360px;
        margin: 0 auto;

        .content {
          padding: 70px 30px 30px 30px;
        }
      }
    }
  }

  @media (max-width: 375px) {
    .container {
      padding: 0;
      margin: 0;

      .card-bg {
        width: 375px;
        height: 667px;

      }
    }
  }

  @media (max-width: 320px) {
    .container {
      padding: 0;

      .card-bg {
        width: 320px;
        height: 568px;
      }
    }
  }
}
