<div class="success-container">
  <div class="success-header">
    <img src="../../../../../assets/images/desktop/account_access.png" alt="Success" class="img-responsive">
  </div>

  <div class="success-content">
     <h1>Congratulations! Your TaskSpur account has been successfully created.</h1>
     <p class="p1">You’re almost there! Please check your email to confirm your account.</p>
     <p class="p2">If you cannot find our confirmation email, please check your junk or spam folders.</p>
     <p class="p3">Click here to return to the <a href="/login">sign in</a> page.</p>
  </div>
  <div class="success-footer-container">
    <div class="success-footer">
      <p>© Copyright TaskSpur 2019. A Life Intelligence <br class="mobile-br" /> Group Subsidiary <br class="desktop-br" /> All Rights Reserved</p>
    </div>
  </div>
 
</div>
