<div class="cu">
  <div class="cu-content a-cu-content"> 
    <p class="cu-text-header">CONTACT US</p>
    <div class="cu-title">Send us a Message</div>
    <div class="cu-sub-title">Enter required information to send request!</div>
    <div class="cu-fields">
      <div class="row">
        <div class="col-md-6 pad-right">
          <div class="floating-label group">
            <input type="text"  name="full_name" tabindex="1" autocomplete="off" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Full Name</label>
          </div>
        </div>
        <div class="col-md-6 pad-left">
          <div class="floating-label group">
            <input #email type="text" formControlName="email" name="email" tabindex="3" autocomplete="off"  required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email Address</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="floating-label-textarea group">
              <textarea rows="4"></textarea>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Message</label>
          </div>
          <!-- <textarea class="cu-input"  rows="4" placeholder="Message"></textarea> -->
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
             <button class="btn-contact">SEND MESSAGE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right"></i></button>
          </div>
        </div>
    </div>
  </div>
</div>