<p-dialog
  #dialog
  [header]="headerText"
  [(visible)]="showModal"
  [modal]="true"
  [responsive]="true"
  [baseZIndex]="10000"
  [positionTop]="positionTop"
  [contentStyle]="contentStyle"
  [closeOnEscape]="true"
  [closable]="true"
  [styleClass]="styleClass"
  appendTo="body"
  focusOnShow="false"
  [transitionOptions]="'150ms'">
  <ng-content select=".body">
  </ng-content>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
