@mixin radio-info {
  border: 1px solid $color-info;
  background-color: $color-info;
}

@mixin radio-primary {
  border: 1px solid $color-primary;
  background-color: $color-primary;
}

@mixin radio-warning {
  border: 1px solid $color-warning;
  background-color: $color-warning;
}

@mixin radio-secondary {
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

@mixin radio-danger {
  border: 1px solid $color-danger;
  background-color: $color-danger;
}