@mixin confirm-dialog {
  // left: 45% !important;
  top: 200px !important;

  &.ui-confirmdialog {
    max-width: 450px;
    min-width: 295px;
  }

  &.ui-confirmdialog .ui-dialog-titlebar {
    display: none !important;
  }

  &.ui-confirmdialog .ui-dialog-content {
    font-size: 20px !important;
    font-weight: 600 !important;
    border: none !important;
    text-align: center;
    border-radius: 3px 3px 0 0;

    .ui-confirmdialog-message {
      vertical-align: middle;
      font-size: 16px;
    }
  }

  &.ui-confirmdialog .ui-dialog-footer {
    border: 1px solid $color-white !important;
    padding: 20px !important;
    text-align: center !important;

    button {
      max-width: 135px;
      display: inline-block;

      &:first-child {
        @include btn-gradient-blue;

        span.ui-button-text {
          padding: 0;
          color: $color-white;
        }
      }

      &:nth-child(2) {
        @include btn-default;

        color: $color-black;
      }

      span:first-child {
        display: none;
      }

      span.ui-button-text {
        padding: 0;
      }
    }
  }
}
