<div class="discover">
    <div [@slideInLeftSide]="showTitle"><h1 class="discover-title">Discover the benefits of an organised, stress-free lifestyle in your personal and professional life.</h1></div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn-landing">TRY TASKSPUR TODAY!</button>
      </div>

      <div class="col-md-6 mobile-align-center">
         <img class="discover-img" src="../../../../../assets/images/landing/big-right-side.png">
      </div>

    </div>
    
</div>