<div class="footer">
  <div class="footer-content">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <a href="javascript:void(0)" class="footer-menu" (click)="gotoRoute($event, 'intro')">Home</a>
            <a href="javascript:void(0)" class="footer-menu" (click)="gotoRoute($event, 'why-taskspur')">Why TaskSpur?</a>
            <a href="javascript:void(0)" class="footer-menu" (click)="gotoRoute($event, 'meet-ari')">Meet ARI</a>
          </div>
          <div class="col-md-4">
            <a href="javascript:void(0)" class="footer-menu" (click)="gotoRoute($event, 'subscription')">Subscription Plans</a>
            <a href="javascript:void(0)" class="footer-menu" (click)="gotoRoute($event, 'contact-us')">Contact Us</a>
            <a href="javascript:void(0)" class="footer-menu" (click)="gotoRoute($event, 'login')">Login ></a>
          </div>
          <div class="col-md-4">
            <a href="javascript:void(0)" class="footer-menu">Terms & Conditions</a>
            <a href="javascript:void(0)" class="footer-menu">Privacy Policy</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 swf">
        <h3>Share with Friends</h3>
        <span>Help us spread the word by sharing our website with your friends and followers on social media.</span>
        <button class="sm-facebook"><i class="fab fa-facebook-f"></i> Facebook</button>
        <button class="sm-twitter"><i class="fab fa-twitter"></i> Twitter</button>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
    © Copyright TaskSpur 2019. A Life Intelligence Group Subsidiary. All Rights Reserved
</div>