<div class="success-container">
  <div class="success-header">
    <img src="../../../../../assets/images/desktop/forgot_success.png" alt="success" class="img-responsive">
  </div>
    
  <div class="success-content">
    <h1>We’re making sure it’s you.</h1>
    <p class="p1">We have sent you an email with reset password instructions. Please check your inbox now to confirm.</p>
    <p class="p2">If you cannot find our confirmation email, please check your junk or spam folders.</p>

    <p class="p3"><a href="/intro">Go back to TaskSpur.com</a></p>

  </div>
  
  <div class="success-footer-container">
    <div class="success-footer">
      <p>© Copyright TaskSpur 2019. A Life Intelligence <br class="mobile-br" /> Group Subsidiary <br class="desktop-br" /> All Rights Reserved</p>
    </div>
  </div>
     
</div>
    