<div class="success-container">
  <div class="success-header">
    <img src="../../../../../assets/images/desktop/reset_success.png" alt="success" class="img-responsive">
  </div>
      
  <div class="success-content">
    <h1>Your password has been successfully changed!</h1>
    <p class="p1"><a href="/login">Sign in</a> now using your existing email and new password.</p>
   
  </div>
    
  <div class="success-footer-container">
    <div class="success-footer">
      <p>© Copyright TaskSpur 2019. A Life Intelligence <br class="mobile-br" /> Group Subsidiary <br class="desktop-br" /> All Rights Reserved</p>
    </div>
  </div>
       
</div>
      