<div class="meet-ari">
  <p class="ma-text-header" [@slideInDown]="showTitle">MEET ARI</p>
  <div [@slideInLeftSide]="showTitle"><h1 class="ma-title">Meet your smart assistant ARI</h1></div>
  <div class="row">
    <div class="col-md-6">
      <div class="ma-description" [@slideInLeftSide]="showDescription">
        <read-more [text]="maDescription" [maxLength]="292"></read-more>
      </div>
    </div>
    <div class="col-md-6 ma-logos-con" [@slideInUp]="showDescription">
      <div class="logo-con">
        <img class="logo-img" src="../../../../../assets/images/landing/blue-sky-ari.png">
        <span class="logo-desc blue-sky">BLUE SKY ARI</span>
      </div>

      <div class="logo-con">
        <img class="logo-img"src="../../../../../assets/images/landing/helpful-ari.png">
        <span class="logo-desc helpful">HELPFUL/CALL ME ARI</span>
      </div>

      <div class="logo-con">
        <img class="logo-img" src="../../../../../assets/images/landing/cautious-ari.png">
        <span class="logo-desc cautious">CAUTIOUS ARI</span>
      </div>

      <div class="logo-con happy">
        <img  class="logo-img" src="../../../../../assets/images/landing/happy-ari.png">
        <span class="logo-desc happy">HAPPY ARI</span>
      </div>

      <div class="logo-con">
        <img  class="logo-img" src="../../../../../assets/images/landing/concerned-ari.png">
        <span class="logo-desc concerned">CONCERNED ARI</span>
      </div>
    </div>

    <div class="col-md-6 ma-logos-con-mobile">
      <div class="row logo-con-blue">
        <div class="col-sm-12 logo-con">
          <img class="logo-img" src="../../../../../assets/images/landing/blue-sky-ari.png">
          <span class="logo-desc blue-sky">BLUE SKY ARI</span>
        </div>
      </div>

      <div class="row logo-con-hch">
       
        <div class="col-sm-4 logo-con">
          <img class="logo-img" src="../../../../../assets/images/landing/cautious-ari.png">
          <span class="logo-desc cautious">CAUTIOUS ARI</span>
        </div>

        <div class="col-sm-4 logo-con">
          <img class="logo-img"src="../../../../../assets/images/landing/helpful-ari.png">
          <span class="logo-desc helpful">HELPFUL/CALL ME ARI</span>
        </div>
      
        <div class="col-sm-4 logo-con happy">
          <img  class="logo-img" src="../../../../../assets/images/landing/happy-ari.png">
          <span class="logo-desc happy">HAPPY ARI</span>
        </div>
      </div>
      
      <div class="row logo-con-concerned">
        <div class="logo-con">
          <img  class="logo-img" src="../../../../../assets/images/landing/concerned-ari.png">
          <span class="logo-desc concerned">CONCERNED ARI</span>
        </div>
      </div>
      
    </div>
  </div>
</div>