<div class="subscription">
  <p class="subs-text-header">SUBSCRIPTIONS</p>
  <h1 class="subs-title">Subscription Plans</h1>
  <div class="subs-sub-title">Be surprised with our unique features.</div>
  <div class="row subs-price">
    <div class="col-md-4 no-padding">

      <div class="price-table" [@slideInLeftSideFast]="showSubPrices">
        <div class="price-table-header free">
          <span class="small-title">FREE</span>
          <h3><sup>$</sup>0<sub>/MONTH</sub></h3>
        </div>
        <div class="price-table-content">
          <ul class="price-table-list">
            <li><div><i class="fas fa-globe-asia"></i> Contains Ads</div></li>
            <li><div><strong>FEATURES:</strong></div></li>
            <li><div><i class="fas fa-star"></i> Task Management</div></li>
            <li><div><i class="fas fa-star"></i> Manual Finance</div></li>
            <li><div><i class="fas fa-star"></i> Agile Training</div></li>
            <li><div><i class="fas fa-star"></i> Calendar</div></li>
            <li><div><i class="fas fa-star"></i> FAQ</div></li>
            <li><div><i class="fas fa-star"></i> Knowledge Base</div></li>
            <li><div><i class="fas fa-star"></i> Support Center</div></li>
            <li><div><i class="fas fa-star"></i> Daily Feed</div></li>
            <li><div><i class="fas fa-star"></i> Quote of the Day</div></li>
            <li><div><i class="fas fa-star"></i> Notifications</div></li>
            <li><div><i class="fas fa-star"></i> Search Engine</div></li>
            <li><div><strong>DATA MANAGEMENT:</strong></div></li>
            <li><div><i class="fas fa-cloud"></i> Data retention for 2 years</div></li>
          </ul>
        </div>
        <div class="price-table-footer free">
          <span class="small-title-footer">REGISTER</span>
        </div>
      </div>
      
    </div>
    <div class="col-md-4 no-padding">

      <div class="price-table no-ads" [@slideInDownFast]="showSubPrices">
        <div class="price-table-header no-ads">
          <span class="small-title">NO ADS</span>
          <h3><sup>$</sup>10<sub>/MONTH</sub></h3>
        </div>
        <div class="price-table-content">
          <ul class="price-table-list">
            <li><div><i class="fas fa-globe-asia no-ads"></i> Free of all Ads</div></li>
            <li><div><strong>FEATURES:</strong></div></li>
            <li><div><i class="fas fa-star no-ads"></i> Include free version features</div></li>
            <li><div><i class="fas fa-star no-ads"></i> Access to latest or upgraded features</div></li>
            <li><div><strong>DATA MANAGEMENT:</strong></div></li>
            <li><div><i class="fas fa-cloud no-ads"></i> Access to latest or upgraded features</div></li>
          </ul>
        </div>
        <div class="price-table-footer no-ads">
          <span class="small-title-footer">REGISTER</span>
        </div>
      </div>     
    </div>
    <div class="col-md-4 no-padding">

      <div class="price-table" [@slideInRightSideFast]="showSubPrices">
        <div class="price-table-header community">
          <span class="small-title">COMMUNITY</span>
          <h3 class="in-app">In-app Purchase</h3>
        </div>
        <div class="price-table-content">
          <ul class="price-table-list">
            <li><div><i class="fas fa-globe-asia community"></i> Buy only tools that you need</div></li>
            <li><div><strong>FEATURES:</strong></div></li>
            <li><div><i class="fas fa-star community"></i> Include all features in free version</div></li>
            <li><div><i class="fas fa-star community"></i> Auto-finance management</div></li>
            <li><div><i class="fas fa-star community"></i> Access to the online academy for learning materials and curriculum</div></li>
            <li><div><i class="fas fa-star community"></i> Upload photos for sharing and safe keeping</div></li>
            <li><div><i class="fas fa-star community"></i> Post videos to share</div></li>
            <li><div><i class="fas fa-star community"></i> Request for a special feature</div></li>
            <li><div><i class="fas fa-star community"></i> Have Ari on your application</div></li>
            <li><div><i class="fas fa-star community"></i> APIs access</div></li>
            <li><div><i class="fas fa-star community"></i> Access to latest or upgraded features</div></li>
            <li><div><strong>DATA MANAGEMENT:</strong></div></li>
            <li><div><i class="fas fa-cloud community"></i> Data retention for as long as you want</div></li>
          </ul>
        </div>
        <div class="price-table-footer community">
          <span class="small-title-footer">REGISTER</span>
        </div>
      </div>

    </div>
  </div>
</div>