@import '../../../../../styleguide/shared';

:host {
  .terms-privacy-container {
    font-size: 14px;
    margin: 15px 0;

    div {
      padding-top: 1px;
    }

    p-checkbox {
      margin-right: 5px;
    }
  }

  .link {
    font-size: 13px;
  }

  .btn-signup {
    max-width: 240px;
    margin: 12px auto 23px auto;
    height: 50px;
    border-radius: 28px;
    font-weight: 600;
    letter-spacing: 1px;

    &:hover {
      color: $color-white;
    }
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
    color: $color-primary;
  }

  input[type="password"] {
    font-family: Verdana,sans-serif;
  }

  .modal-dialog {
    max-width: 575px;
  }

  .modal-body {
    text-align: left;
    padding: 20px 40px;
  }

}

@media (max-width: 480px) {
  :host {
    .terms-privacy-container span {
      font-size: 12px !important;
    }

    .modal-dialog {
      margin:0;
    }

    .modal-body {
      padding: 20px 30px;
    }
  }
}

@media (max-width: 420px) {
  :host {
    .btn-signup {
      max-width: 260px;
      height: 45px;
    }

    h3 {
      font-size: 28px;
    }
  }
  
}

@media (max-width: 360px) {
  :host {
    .modal-body {
      padding: 20px;
    }
  }
}

:host ::ng-deep .ui-chkbox-icon {
  @include cb-blue;

  border-radius: 2px;
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box:not(:checked) {
  border: 1px solid #a6a6a6 !important;
}

:host ::ng-deep .ui-state-active {
  border-color: #0099ff !important;
  background-color: #0099ff !important;
}