<img src="../../../../assets/icons/tc-close.png" data-dismiss="modal" aria-label="Close">
<h1>Terms and Conditions</h1>
<div *ngIf="isRawText">
  <ng-container *ngTemplateOutlet="rawText"></ng-container>
</div>

<div *ngIf="!isRawText">
  <div class="container lpa_card-web">
    <ng-container *ngTemplateOutlet="rawText"></ng-container>
  </div>
</div>

<ng-template #rawText>
  <h5>Website Terms of Use</h5>
  <p>These Terms of Use ("Terms") govern your use of our website located at taskspur.com ("Site") and form a
    binding contractual agreement between you, the user of the Site and us, Life Intelligence Group Pty Ltd (ACN 630 069 573),
    trading as TaskSpur.
    For that reason these Terms are important and you should ensure that you read them carefully and contact us with
    any questions before you use the Site. You can contact us at support@taskspur.com.
  </p>

  <h5>LEGALLY BINDING AGREEMENT</h5>
  <p>By registering for, accessing or using the Site, you acknowledge that you have read, accepted and agreed to be
    legally bound by these Terms and any notices, protocols or guidelines appearing on or in connection with the Site,
    as amended from time to time. Any such notices, protocols or guidelines are hereby incorporated by reference as
    part of these Terms.</p>
  <p>You acknowledge and agree that your access to, and use of, this Site is on an 'as is, as available', basis.
    TaskSpur is in no way liable for your failure to access and otherwise use this Site.</p>
  <p>If you do not agree to the Terms, please do not use the Site.</p>
  <p>1. Licence to use Site</p>
  <p>1.1 We grant you a non-exclusive, worldwide, non-transferable licence to use the Site in accordance with the terms
    and conditions set out in this Agreement.</p>
  <p>1.2 You may access and use the Site (including any incidental copying that occurs as part of that use) in the
    normal manner and may also print one copy of any page within the Site for your own personal, non-commercial use.</p>
  <p>1.3 You must not add any content to the Site:</p>
  <p>(a) unless you hold all necessary rights, licences and consents to do so;</p>
  <p>(b) that would cause you or us to breach any law, regulation, rule, code or other legal obligation;</p>
  <p>(c) that is, or could reasonably be considered to be, obscene, inappropriate, defamatory, disparaging, indecent,
    seditious, offensive, pornographic, threatening, abusive, liable to incite racial hatred, discriminatory,
    blasphemous, in breach of confidence or in breach of privacy; </p>
  <p>(d) that would bring us, or the Site, into disrepute; or</p>
  <p>(e) that infringes the intellectual property or other rights of any person.</p>
  <p>1.4 One of the features of the Site is having your personal assistant help you while talking or writing to it. By
    using Ari or Dictation, you agree and consent to TaskSpur’s and its agents’ transmission, collection,
    maintenance, processing, and use of information, including your voice input and User Data, to provide and improve
    Ari, Dictation, and dictation functionality in other products and services.</p>
  <p>1.5 The Site contains links to other websites as well as content added by people other than us. We do not endorse,
    sponsor or approve any such user generated content or any content available on any linked website. </p>
  <p>1.6 You acknowledge and agree that: </p>
  <p>(a) we retain complete editorial control over the Site and may alter, amend or cease the operation of the Site at
    any time in our sole discretion; and</p>
  <p>(b) the Site will not operate on a continuous basis, and may be unavailable from time to time (including for
    maintenance purposes). </p>


  <h5>2. Privacy</h5>
  <p>2.1 Our Privacy Policy is incorporated into these terms by reference. </p>
  <p>2.2 Our Privacy Policy is available for you to read at [insert link]. </p>

  <h5>3. Intellectual Property Rights</h5>
  <p>3.1 Nothing in these Terms constitutes a transfer of any intellectual property rights. You acknowledge and agree
    that, as between you and us, we own all intellectual property rights in the Site. </p>
  <p>3.2 By posting or adding any content onto the Site, you grant us a perpetual, non-exclusive, royalty-free,
    irrevocable, worldwide and transferable right and licence to use that content in any way (including, without
    limitation, by reproducing, changing, and communicating the content to the public) and permit us to authorise any
    other person to do the same thing.</p>
  <p>3.3 You consent to any act or omission which would otherwise constitute an infringement of your moral rights, and
    if you add any content in which any third party has moral rights, you must also ensure that the third party also
    consents in the same manner.</p>
  <p>3.4 The licence in clause 3.2 will survive any termination of these Terms.</p>
  <p>3.5 You represent and warrant to us that you have all necessary rights to grant the licences and consents set out
    in clauses 3.2 and 3.3.</p>

  <h5>4. Warranties</h5>
  <p>You represent and warrant to us that:</p>
  <p>(a) you have the legal capacity to enter these Terms; </p>
  <p>(b) you are responsible for all activities that occur under your username and password; and</p>
  <p>(c) you have complied, and will continue to comply, with clause 1.3.</p>

  <h5>5. Liability</h5>
  <p>5.1 To the full extent permitted by law, we exclude all liability in respect of loss of data, interruption of
    business or any consequential or incidental damages.</p>
  <p>5.2 To the full extent permitted by law, we exclude all representations, warranties or terms (whether express or
    implied) other than those expressly set out in these Terms.</p>
  <p>5.3 These Terms are to be read subject to any legislation which prohibits or restricts the exclusion, restriction
    or modification of any implied warranties, conditions, guarantees or obligations. If such legislation applies, to
    the extent possible, we limit our liability in respect of any claim to, at our option:</p>
  <p>(a) in the case of goods:</p>
  <p>(i) the replacement of the goods or the supply of equivalent goods;</p>
  <p>(ii) the repair of the goods;</p>
  <p>(iii) the payment of the cost of replacing the goods or of acquiring equivalent goods; or</p>
  <p>(iv) the payment of having the goods repaired, and</p>
  <p>(b) in the case of services:</p>
  <p>(i) the supply of the services again; or</p>
  <p>(ii) the payment of the cost of having the services supplied again. </p>

  <h5>6. Termination</h5>
  <p>6.1 These Terms terminate automatically if, for any reason, we cease to operate the Site.</p>
  <p>6.2 We may otherwise terminate these Terms immediately, without notice to you, if you have breached these Terms in
    any way. </p>

  <h5>7. General</h5>
  <p>7.1 You must not assign, sublicence or otherwise deal in any other way with any of your rights under these Terms.
  </p>
  <p>7.2 If a provision of these Terms is invalid or unenforceable it is to be read down or severed to the extent
    necessary without affecting the validity or enforceability of the remaining provisions.</p>
  <p>7.3 Each party must at its own expense do everything reasonably necessary to give full effect to this Agreement
    and the events contemplated by it.</p>
  <p>7.4 This Agreement is governed by the laws of New South Wales, Australia and each party submits to the
    jurisdiction of the courts of New South Wales, Australia.</p>


</ng-template>