@import '../../../../styleguide/shared';

:host {
  width: 100%;
}

.atm-text {
  padding-left: 20px;
}

.upload-border {
  border: 2px $color-primary dotted;
}

.file-border {
  border: thin #f1f1f1 solid;
}

span.file-ext {
  font-size: 24px;
  position: relative;
  top: 55px;
}

.atm-container {
  height: 192px;
  width: 100%;
  background: #F4F8FB;
  padding: 20px;
  margin: 0;
  cursor: pointer;
  overflow-y: auto;

  .btn-attachment {
    display: none;
  }

  .w-250 {
    width: 250px;
  }

  .fa-times-circle {
    position: absolute;
    top: -12px;
    left: 81%;
    cursor: pointer;
    color: $color-red;
    background-color: $color-white;
    border-radius: 50%;
    font-size: 22px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .atm-box {
    height: 150px;
    width: 150px;
    min-width: 150px;
    background: $color-white;
    text-align: center;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .upload-text {
      font-size: 12px;
      color: $color-primary;
    }
  }
}
