<div class="custom-toast-container" [ngClass]="{showErr: showErrMessage}">
  <span>{{ errorMsg }}</span>
  <span class="close-container" (click)="showErrMessage = false"><img src="../../../../../assets/icons/err-cancel.png"></span>
</div>

<div class="container">
  <div class="card-bg">
    <div class="content">
      <div>
        <button type="button" class="btn btn-link link" routerLink="/login">Back to Sign In</button>
        <svg-icon [icon]="'lock'"></svg-icon>
      </div>

      <h2>Change Password</h2>
    
      <div *ngIf="!passwordResetSuccess" class="panel-body">
        <form novalidate [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" role="form">
          <div class="row">
            <div class="col-12">
              <div class="floating-label group">
                <input #pwd type="password" class="ts_input-password" (input)="validatePassword()" formControlName="password"
                  tabindex="1" name="password" autocomplete="off" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
                <i (click)="showPassword(pwd)" class="fas fa-eye icon-password-view"></i>
              </div>
            </div>
            <div class="col-12">
              <div class="floating-label group">
                <input #rpwd type="password" class="ts_input-password" (input)="validateRePassword()" valCompare="password" formControlName="repeatPassword"
                  tabindex="2" name="repeatpassword" autocomplete="off" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label [ngClass]="{'control-invalid': !passwordResetForm.get('repeatPassword').valid && passwordResetForm.get('repeatPassword').dirty }">Repeat
                  Password</label>
                <i (click)="showPassword(rpwd)" class="fas fa-eye icon-password-view"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <button type="submit" [disabled]="!passwordResetForm.valid || isSubmitting" tabindex="3" class="btn ts_button-rounded btn-reset">
              <i *ngIf="isSubmitting" class="fas fa-spinner fa-pulse"></i> Submit</button>
          </div>
        </form>
      </div>

      <div class="error-hint-container">
        <span [ngClass]="{'check-hint': validCharCount, 'showErrHint': isShowErrHint}">
          <img *ngIf="!validCharCount" src="../../../../../assets/icons/err-hint.png">
          <img  *ngIf="validCharCount" src="../../../../../assets/icons/check-hint.png">
           8 characters minimum
        </span>
        <span [ngClass]="{'check-hint': validPasswordChar, 'showErrHint': isShowErrHint}">
          <img *ngIf="!validPasswordChar" src="../../../../../assets/icons/err-hint.png">
          <img  *ngIf="validPasswordChar" src="../../../../../assets/icons/check-hint.png">
            must contain one number
        </span>

      </div>
    </div>
  </div>
</div>


