<img src="../../../../assets/icons/tc-close.png" data-dismiss="modal" aria-label="Close">
<h1>Website Privacy Policy</h1>

<div *ngIf="isRawText">
  <ng-container *ngTemplateOutlet="rawText"></ng-container>
</div>

<div *ngIf="!isRawText">
  <div class="container lpa_card-web">
    <ng-container *ngTemplateOutlet="rawText"></ng-container>
  </div>
</div>

<ng-template #rawText>
  <p>This Privacy Policy applies to all personal information collected by <b>Life Intelligence Group Pty Ltd</b> (ACN 630 069 573),
    trading as TaskSpur via the website located at taskspur.com.
  </p>

  <h5>How to contact us about privacy</h5>
  <p>Your privacy is very important to us. For that reason, please read the following details carefully and get in
      contact with us if you have any questions. You can contact us on:
      support@taskspur.com.
  </p>

  <h5>Collection and Purpose</h5>
  <p>We may collect personal information from you in the course of your use of the website if you input any personal
      information into the website. In addition, we also collect cookies from your computer, which enables us to tell
      when you use the website and also to help customise your website experience.
      We collect personal information for the purpose of providing you with the best service experience possible on the
      website. Some provision of personal information is optional. However, if you do not provide us with certain types
      of personal information, you may be unable to enjoy the full functionality of the website.
  </p>
  <h5>Disclosure</h5>
  <p>We customarily disclose personal information only to our service providers who assist us in operating the
        website. We will only disclose personal information to an unrelated third party with your consent.
  </p>
  
  <h5>Access and correction</h5>
  <p>National Privacy Principle 6 of the Australian Privacy Act 1998 (Cth) allows you to get access to, and correct,
      the personal information we hold about you in certain circumstances. If you would like to obtain such access,
      please contact us on the details set out above.
  </p>

  <h5>Security </h5>
  <p>We have processes in place to ensure the security of your personal information, including encryption of all data
      when it is transferred to our service providers and limitations on access to personal information within our
      organisation.
  </p>
</ng-template>